body, html {
	background-color: #e5e7ea;
	font-family: 'Montserrat', sans-serif;
}

#composite-container {
	width: 100%;
	padding-top: 56.35%;
	position: relative;
}

#composite {
	position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
	width: 100%;
	height: 100%;
}

.colour-option {
	padding: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.view-option {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border: 0.2em solid white;
	cursor: pointer;
	transition: all 0.2s;
}

.view-option:hover {
	transform: scale(1.1, 1.1);
}

.view-active {
	border: 0.2em solid #5BC0DE;
}